.Home {
    background: url('../../../assets/img/home/background.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}