.Footer{
    background-color: #333333;
    background-size: cover;
    color: white;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}