.Footer {
    background-color: #333333; 
    color: white; 
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}